---
layout: default
title: News - Lumina Group
---

<main>
    <section id="news">
        <br>
        <h3>最新のお知らせ / News</h3>
        <ul id="news-list">
            {% for news_item in site.news reversed %}
            <li class="news-item">
                <a href="{{ site.baseurl }}{{ news_item.url }}" class="news-link">
                    {% if news_item.image %}
                        <img src="{{ site.baseurl }}{{ news_item.image }}" alt="news image" class="news-thumbnail">
                    {% endif %}
                    <div class="news-info">
                        <span class="news-date">{{ news_item.date | date: "%Y年%m月%d日" }}</span>
                        <span class="news-title">{{ news_item.title }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>